<body>
  <div class="login">
    <h1>Login</h1>

    <div class="box">
 
      <input [(ngModel)]="loginUserData.userORemail" name="userORemail" placeholder="Username/Email" type="text" class="form-control rounded-0" required />
    </div>
    <div class="box">
  
      <input [(ngModel)]="loginUserData.password" name="password" type="password" placeholder="Password" class="form-control rounded-0" required />
    </div>
    <div class="forgot">
      <a href="reset.html">Forgot password?</a>
    </div>
    <div class="register">
      <a class="link" routerLink="/register" routerLinkActive="active">Don't have an account? Register here!</a>
    </div>
    <button (click)="loginUser()" type="button" class="btn btn-success float-right">Login</button>

  </div>
<!--<div class="koko">
  <div class="row pt-5">
    <div class="col-md06 mx-auto">
      <div class="card rouded-0">
        <div class="card-header">
          <h3 class="mb-0">Login</h3>
        </div>
        <div class="card-body">
          <form class="form">
            <div class="form-group">
              <label>
                Username/Email
                <input [(ngModel)]="loginUserData.userORemail" name="userORemail" placeholder = "Username/Email" type="text" class="form-control rounded-0" required />
              </label>
            </div>
            <div class="form-group">
              <label>
                Password
                <input [(ngModel)]="loginUserData.password" name="password" type="password" placeholder = "Password" class="form-control rounded-0" required />
              </label>
            </div>
            <div class="forgot">
              <a href="reset.html">Forgot password?</a>
            </div>
            <div class = "register">
              <a class="link" routerLink="/register" routerLinkActive="active">Don't have an account? Register here!</a>
            </div>
            <button (click)="loginUser()" type="button" class="btn btn-success float-right">Login!</button>
          </form>
        </div>
      </div>
     </div>
   </div>
</div>-->
</body>
