body {
  background-image: url("https://wallpapercave.com/wp/dwwIVzJ.jpg");
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:140px;
}
@media (min-width: 1200px) {
}
  .container {
    max-width: 100%;
  }


.forgot a {
  color: #2366d1;
  font-size: 12px;
  text-decoration: underline;
}


.register a {
  color: #2366d1;
  font-size: 12px;
  text-decoration: underline;
}

.loginbutton{
  padding-top: 10px;
}
